* {
    margin: 0;
    padding: 0;
}

table {
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #DBEEBD;
}

thead {
    background-color: green;
}

thead tr {
    height: 45px;
}

thead tr th {
    width: 100px;
}

tbody tr {
    height: 35px;
}

.sort {
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: lightskyblue;
}

tbody tr td {
    width: 100px;
    text-align: center;
}
